<div class="modal-backdrop">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Seleccionar ubicación</h5>
      <button type="button" class="btn-close" (click)="close()"></button>
    </div>
    <div class="modal-body">
      <div class="form-group mb-3">
        <label for="search">Buscar ubicación:</label>
        <input
          id="search"
          name="search"
          type="text"
          class="form-control"
          [(ngModel)]="searchQuery"
          placeholder="Ingrese una dirección"
        />
        <button class="btn btn-primary mt-2" (click)="searchLocation()">
          Buscar
        </button>
      </div>
      <div #mapContainer style="height: 500px; width: 100%"></div>
    </div>
  </div>
</div>
