<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{ title }}</h3>
  <button
    type="button"
    class="modal-close-btn"
    aria-label="Cerrar"
    aria-describedby="modal-title"
    (click)="modal.dismiss()"
  >
    <span class="material-symbols-outlined">close</span>
  </button>
</div>
<div class="modal-body">
  <p class="modal-message">{{ message }}</p>
  <p class="modal-description" *ngIf="description">{{ description }}</p>
</div>
<div class="modal-footer">
  <button
    *ngIf="!isAlert"
    type="button"
    class="btn btn-secondary"
    (click)="modal.dismiss()"
  >
    Cancelar
  </button>
  <button type="button" class="btn btn-primary" (click)="modal.close()">
    Aceptar
  </button>
</div>